<div id="load">
    <p>hold on fetching latest news..</p>
</div>

<section>
    <div class="containinfo">
        <% data.forEach(item =>{ %>
        <article>
            <a href="/detail/<%= item.id  %>"> <img width="600px" height="400px" src="<%= item.img  %>"
                    alt="<%= item.dataTitle %>"> </a>
            <div class="contentwrap content">

                <p class="subject"><%= item.section %> <%= item.subsection %></p>
                <h2>
                    <a href="/detail/<%= item.id  %>"><%= item.dataTitle %></a>
                </h2>

                <!-- 
                                    <p>${item.info}</p>
                                    <a href="#article/${item.id}">read</a>
                                    <p>release date: <span>${item.date}</span></br>
                                    <span>${item.author}</span></p>
                                    -->
                <!-- <button>read later</button> -->
            </div>

        </article>
        <% }) %>
    </div>
</section>