<section id="content">
    <div class="containinfo">
        <% data.forEach(item =>{ %>
        <article>
            <a href="<%= item.id  %>"> <img width="600px" height="400px" id="img" src="<%= item.img  %> "> </a>
            <div class="contentwrap" id="content">

                <p class="subject"><%= item.section %> <%= item.subsection %></p>
                <h2>
                    <a href="<%= item.id  %>"><%= item.dataTitle %></a>
                </h2>

                <!-- 
                                    <p>${item.info}</p>
                                    <a href="#article/${item.id}">read</a>
                                    <p>release date: <span>${item.date}</span></br>
                                    <span>${item.author}</span></p>
                                    -->
                <button>read later</button>
            </div>

        </article>
        <% }) %>
    </div>
</section>